body {
  background: black;
  color: white;
  font-family: 'Courier New', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#introScreen {
  text-align: center;
}

#startButton {
  background: #00ff99;
  border: none;
  padding: 10px 20px;
  color: black;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

#startButton:hover {
  background: #00ffaa;
}

#gameScreen {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
